html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    color: $white;
    font-family: $font-001;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
    max-width: 90%;
}

strong {
    color: $color-001;
}

li {
    list-style: none;
    position: relative;


    &::before {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        background-color: $color-002;
        margin-right: 10px;
        margin-bottom: 2px;
    }
}

main {
    padding-top: 68px;
}

section {
    padding: 100px 0;
}

.full-link {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.line {
    width: 800px;
    height: 5px;
    background-color: $color-001;
    position: relative;
    animation: diagonale 10s linear infinite;
    opacity: 0;
    margin-bottom: 100px;

    &:nth-child(1) {
        width: 250px;
        animation-delay: 5s;
        animation-duration: 20s;
    }

    &:nth-child(2) {
        width: 400px;
        animation-delay: 2s;
        animation-duration: 30s;
    }

    &:nth-child(3) {
        width: 350px;
        animation-delay: 2s;
        animation-duration: 25s;
    }

    &:nth-child(4) {
        width: 700px;
        animation-delay: 7s;
        animation-duration: 15s;
    }

    &:nth-child(5) {
        width: 300px;
        animation-delay: 4s;
        animation-duration: 40s;
    }

    &:nth-child(6) {
        width: 450px;
        animation-delay: 6s;
        animation-duration: 20s;
    }

    &:nth-child(7) {
        width: 150px;
        animation-delay: 8s;
        animation-duration: 15s;
    }

    &:nth-child(8) {
        width: 400px;
        animation-delay: 4s;
        animation-duration: 40s;
    }
}