button {
    cursor: pointer;
}

.btn {
    display: block;
    width: fit-content;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &--primary {
        background-color: $color-001;
        color: $black;
        border: 2px solid $color-001;

        &:hover {
            background-color: $white;
            color: $color-001;
        }

        &-outline {
            border: 2px solid $color-001;
            background-color: transparent;
            color: $color-001;

            &:hover {
                background-color: $color-001;
                color: $black;
            }
        }
    }
}

.filter {
    padding: 10px 20px;

    &.project--all-types {
        border-color: $color-003;
        color: $color-003;

        &:hover, &.active {
            background-color: $color-003;
            color: $black;
        }
    }

    &.project--design {
        border-color: $color-002;
        color: $color-002;

        &:hover, &.active {
            background-color: $color-002;
            color: $black;
        }
    }

    &.project--dev {
        border-color: $color-001;
        color: $color-001;

        &:hover, &.active {
            background-color: $color-001;
            color: $black;
        }
    }
}

.redirect a {
    margin: 20px auto;

    &:hover {
        background-color: transparent;
    }
}