form {
    margin: 50px auto;
    padding: 0;

    @include min($lg) {
        padding: 50px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &.error {

            input,
            textarea {
                box-shadow: inset 0 0 15px rgba($color: $error, $alpha: 1.0);
                margin-bottom: 5px;
            }

            p {
                color: $error;
                margin-bottom: 10px;
                font-size: $font-sm;
            }
        }

        input,
        textarea {
            margin: 10px 0 20px;
            padding: 10px;
            font-family: $font-001;
            font-size: $font-md;
            background-color: transparent;
            border: none;
            backdrop-filter: blur(10px);
            box-shadow: inset 0 0 15px rgba($color: $color-001, $alpha: 1.0);
            width: 100%;
            color: $white;
            transition: all 0.2s ease-in-out;

            &:active,
            &:focus-visible,
            &:focus-within {
                box-shadow: inset 0 0 15px rgba($color: $color-002, $alpha: 1.0);
                outline: none;
            }
        }

        textarea {
            height: 300px;
            resize: none;
        }

        &:has(input[type="checkbox"]) {
            display: block;
            margin-bottom: 50px;
            p {
                margin-top: 5px;
            }
        }

        input[type="checkbox"] {
            width: 20px;
            margin: 5px 10px 0 0;
            box-shadow: none;
            accent-color: $color-001;
            cursor: pointer;

            + label {
                line-height: 1.3;
                text-align: justify;
                cursor: pointer;
                font-size: $font-md;
            }
        }
    }

    .btn.btn--primary-outline {
        margin: 0 auto;
        padding: 10px 20px !important;
    }
}

.success,
.fail {
    h3 {
        margin: 100px auto;
    }
}