@keyframes rotate-cw {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-ccw {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-ccw-header {
    0% {
        transform: translateY(-50%) rotate(0);
    }

    100% {
        transform: translateY(-50%) rotate(-360deg);
    }
}

@keyframes bound {
    50% {
        transform: translateX(-50%) translateY(-10%);
    }
}

@keyframes bound2 {
    50% {
        transform: translateY(-20px);
    }
}

@keyframes diagonale {
    0% {
        opacity: 1;
        transform: rotate(-30deg) translateX(-100vw) translateY(-100%);
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-30deg) translateX(200vw) translateY(100%);
    }
}

@keyframes goToRight {
    50% {
        left: 35%;
    }    
}
@keyframes goToLeft {
    50% {
        right: 40%;
    }    
}