.about {
    scroll-margin-top: 80px;
    .columns {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        @include min($lg) {
            flex-direction: row;
        }

        >div {
            @include min($lg) {
                width: 50%;
            }
        }

        .column {
            &__left {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__right {
                margin-bottom: 50px;

                @include min($lg) {
                    margin-bottom: 0;
                }
            }
        }

        img {
            width: 70%;
        }
    }
}