.contact {
    position: relative;

    .triangle {
        display: none;
        @include min($lg) {
            position: absolute;
            right: 20%;
            top: -10%;
            animation: rotate-ccw 20s linear infinite;
            z-index: -1;
            width: 20%;
            display: block;
        }
    }
}