.contact {
    position: relative;

    .triangle {
        display: none;
        @include min($lg) {
            position: absolute;
            right: 20%;
            top: -10%;
            animation: rotate-ccw 20s linear infinite;
            z-index: -1;
            width: 10%;
            display: block;
        }
    }

    .form-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        @include min($md) {
            flex-direction: row;
        }
        .col {
            width: 100%;
            @include min($md) {
                width: 50%;
            }
        }
    }
}