nav {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: blur(10px);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-size: $font-xl;

            @include min($lg) {
                font-size: $font-xxl;
            }
        }
    }

    a {
        color: $white;
    }

    .mobile-menu-button {
        width: 30px;
        height: 30px;
        border: 2px solid $white;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: transparent;
        @include min($lg) {
            display: none;
        }

        .square {
            background-color: $white;
            width: 40%;
            aspect-ratio: 1;
        }
    }

    .menu {
        display: none;
        align-items: center;
        gap: 50px;

        @include min($lg) {
            display: flex;
        }

        &--mobile {
            position: fixed;
            background-color: $black;
            inset: 0;
            height: 100vh;
            width: 100vw;
            padding: 50px;

            li {
                text-transform: uppercase;
                font-weight: 600;
                &:not(:first-of-type) {
                    margin-top: 30px;
                }
                &::before {
                    display: none;
                }
            }
        }

        li {
            font-family: $font-002;

            &::before {
                background-color: $white;
                margin-bottom: 0;
                transition: all 0.2s ease-in-out;
            }

            &:has(.active) {
                &::before {
                    background-color: $color-001;
                }
            }

            &:hover {
                &::before {
                    background-color: $color-001;
                }
            }
        }

        a {
            text-transform: lowercase;
            font-weight: 600;
            transition: all 0.2s ease-in-out;
        }
    }
}