.whyme {
    .container {
        > p {
            margin-top: 50px;
        }
    }
    .services {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .service {
        width: 25%;
        padding-top: 250px;

        &:nth-of-type(3) {
            > img {
                width: 300px;
            }
        }
    }
}